<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Country Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>

    <% if(data !== null){ %>
        <ul>
            <% data.forEach(function(country){ %>
                <li> <%= country.name %>  <%= country.alpha2Code %> </li>
            <% }) %>
        </ul>
    <% } %>    

    <% if(error !== null){ %>
        <p><%= error %></p>
    <% } %>
</body>
</html>